<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper 
   namespace="com.ict.mapper.CategoryMapper">
   <select id="categoryAll" resultType="Category">
   		select * from category_aa order by cg_name
   </select>
   <insert id="insertCategory" parameterType="Category">
   	<selectKey keyProperty="cg_num" resultType="int" order="BEFORE">
   		select category_aa_seq.nextval from dual
   	</selectKey>
   	insert into category_aa(cg_num, cg_name,cg_code)
   	values(#{cg_num},#{cg_name},#{cg_code})
   </insert>
   
   <delete id="deleteCategory" parameterType="_int">
   		delete from category_aa where cg_num=#{value}
   </delete>
</mapper>

